body {font: 1em san-serif;}
a {style: bold; 
visited {color: maroon}
}
h1 {
  font-size: 200%;
  color: steelblue;
  font-style: italic;
}
h2 {font-size: 150%}
header {float: left; margin: 2em;}
Ul {line-height: 1.5;}