body {font: 1em sans-serif;}
a {font-weight: bold;}
h1 {
  font-size: 3em;
  color: steelblue;
  font-style: italic;
}
h3 {font-size: 120%}
header img {float: left; margin-right:2em;}
ul {line-height: 1.5;}
a:link{color: steelblue}
main{clear:left;}
ul a:focus,ul a:hover{color: steelblue;}